/**
* @name ElliNightViolet
* @author ElliNight#2811
* @version 1.0
* @description An easily customizable and automatically updating theme
* @invite nC7VZdmb5a
* @source https://github.com/FrorexStudio/DiscordElliNightViolet
*/

@import url(https://FrorexStudio.github.io/DiscordElliNightViolet/build/v1/css/env.min.css);

:root {
  /* Theme Background */
  /* supports format (Png / Jpg / Gif / Webp) */
  --theme-background-image: url(https://FrorexStudio.github.io/DiscordElliNightViolet/images/static/backgrounds/DefaultImageBackground2.gif);
  
  /* Home Icon Image */
  /* supports format (Png / Jpg / Gif / Webp) */
  --home-icon-image: url(https://FrorexStudio.github.io/DiscordElliNightViolet/images/static/avatars/DefaultImageHome7.gif);

  /* Main Theme Color */
  --main-theme-color: rgb(154, 137, 216);

  /* Main Theme Transparency */
  --theme-transparency: rgba(31, 0, 29, 0.8);


  /* Folders */
  --folder-background-color: #2f3136;
  --expanded-folder-background-color: transparent;

  /* Scroll */
  --scrollbar-color: rgba(100, 0, 92, 0.8);

  /* Buttons */
  --primary-btn-color: var(--main-theme-color);
  --primary-hover-btn-color: color-mix(in srgb, var(--main-theme-color) 10%, black);
  --primary-active-btn-color: color-mix(in srgb, var(--main-theme-color) 20%, black);





  
  /* Small User Popout */
  --small-user-popout-background-image: var(--theme-background-image);
  --small-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --small-user-popout-background-image-position: center;

  /* Big User Popout */
  --big-user-popout-background-image: var(--theme-background-image);
  --big-user-popout-background-transparency: rgba(0, 0, 0, 0.6);
  --big-user-popout-background-image-position: center;


  /* Font Size */
  --font-size: 100%;

  /* Animation Badges */
  --badge-size: 22px; /*discord defualt = 18px, theme defualt = 22px;*/
  --badge-margin: 1.5px; /*discord default = 2px, theme defualt = 1.5px*/
  --badges-everywhere-size: 15px; /*default = 15px*/

  /* Standart Badges */
  --badge-standart-bot-color: rgb(154, 137, 216);

}